
<ion-header>
  <ion-toolbar>
    <ion-title>ClassQR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class ="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="dark">Login</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Username/SR Code</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button color="dark" size = "full">Login</ion-button>
        <ion-button color="medium" fill="clear" size="full">Forgot Username or Password</ion-button>
        <ion-button routerLink="./register" color="medium" size = "full" fill="clear" href="register">Register</ion-button>
      </ion-card-content>
    </ion-card>
   </div>
</ion-content>

