
<ion-header>
  <ion-toolbar>
    <ion-title>ClassQR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="px-3 arimo">

        <ion-item>
          <ion-label class="arimo" position="stacked">SR Code / Prof Code</ion-label>
          <ion-input  type="text" maxlength="8" class="arimo" [(ngModel)]="srCode"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input  type="text" type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <br>
        <ion-row>
          <ion-col>
            <ion-button class="arimo" (click) ="login()" [disabled]="!srCode || !password" expand="block">Login as Student</ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="arimo" (click) ="loginAsProf()" [disabled]="!srCode || !password" expand="block">Login as Prof</ion-button>
          </ion-col>
        </ion-row>
        

        <ion-row class="px-5">
          <ion-col class="text-center">
            <ion-button class="arimo" fill="clear" size="small">Forgot Username or Password</ion-button>
          </ion-col>
        </ion-row>
        
        <ion-button class="arimo" color="medium" size = "full" fill="clear" (click)="toRegister()">Switch to Register</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
    
</ion-content>

