<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="classes">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>ATTENDANCE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="book"></ion-icon>
      <ion-label>SUBJECTS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person"></ion-icon>
      <ion-label>PROFILE</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab3">
      <ion-icon name="exit"></ion-icon>
      <ion-label>LOGOUT</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
