<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="classes" *ngIf="!isStudent">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>ATTENDANCE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scan" *ngIf="isStudent">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>SCAN</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>PROFILE</ion-label>
    </ion-tab-button>
    <ion-tab-button (click) = "logout()">
      <ion-icon name="exit"></ion-icon>
      <ion-label>LOGOUT</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
